{{ define "main"}}
<div class="bg-gray-200 px-6 lg:px-8">
  <div class="max-w-screen-xl mx-auto grid grid-cols-2 ">
    <div class="col-span-2 md:col-span-1 py-12 lg:py-20 relative z-20">
      <h2 class="text-2xl sm:text-3xl lg:text-4xl xl:text-5xl text-gray-700 font-medium mb-6">SubNetworks,</h2>
      <h2 class="text-2xl sm:text-3xl lg:text-4xl xl:text-5xl text-gray-700 font-medium mb-6">Maatwerk ICT Diensten.</h2>
      <p class="text-xl text-gray-600">SubNetworks levert maatwerk ICT Diensten en oplossingen in omgeving Den Helder en omstreken, ICT Diensten, Oplossingen & Advies op maat</p>
    </div>
    <div class="col-span-2 md:col-span-1 relative">
      <svg class="text-gray-200 hidden md:block absolute left-0 inset-y-0 h-full w-48 transform -translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,0 100,0 50,100 0,100"></polygon>
      </svg>
      <img src="/images/home-page-web.webp" alt="" class="min-h-full object-cover">
    </div>
  </div>
  <div class="max-w-screen-xl mx-auto text-center">
    <div class="flex flex-row space-x-2 justify-center">
      <a href="#" class="inline-block bg-gray-500 font-semibold rounded-lg py-4 px-5 lg:px-8 text-white mt-6">Afspraak maken</a>
      <a href="#" class="inline-block bg-transparent font-semibold rounded-lg py-4 px-5 lg:px-8 text-gray-600 mt-6">Contact opnemen</a> 
    </div>
  </div>
</div>
</div>

<div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 lg:gap-24 md:items-center py-12 lg:py-20">
  <div class="col-span-2 md:col-span-1 order-2 md:order-1">
    <h2 class="text-2xl sm:text-3xl  lg:text-4xl text-gray-700 font-medium mb-6">SubNetworks is er </h2>
    <p class="text-xl text-gray-600 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nunc volutpat, ullamcorper tellus tristique, dictum erat. Sed vel diam facilisis</p>
    <div class="flex flex-row space-x-2">
    </div>
  </div>
  <div class="col-span-2 md:col-span-1 flex flex-row space-x-2 order-1 md:order-2 items-center justify-center">
    <img src="/images/homepage2.png" alt="" class="max-w-md">
  </div>
</div>
</div>

<div class="bg-gray-50 text-gray-600 px-6 lg:px-8 pt-12 pb-20">
<div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 lg:gap-24 md:items-center">
  <div class="col-span-2 md:col-span-1 flex flex-row space-x-2">
    <img src="/images/placeholder-square.svg" alt="">
  </div>
  <div class="col-span-2 md:col-span-1">
    <h2 class="text-2xl sm:text-3xl  lg:text-4xl text-gray-700 font-medium mb-6">Titel placeholder</h2>
    <p class="text-xl text-gray-600 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id nunc volutpat, ullamcorper tellus tristique, dictum erat. Sed vel diam facilisis, luctus tortor vitae, elementum nunc. </p>
    <p class="text-xl text-gray-600 mb-6">Vestibulum quis dui vel ipsum eleifend dapibus ornare ac quam. Nulla id fermentum dolor, a lacinia mauris. In non odio non augue semper dictum.</p>
    <p class="text-xl text-gray-600">Vestibulum quis dui vel ipsum eleifend dapibus ornare ac quam. Nulla id fermentum dolor, a lacinia mauris. In non odio non augue semper dictum. Integer facilisis eu sapien sit amet euismod. Praesent efficitur nibh at lorem accumsan fringilla.</p>
  </div>
</div>
</div>

<div class="bg-gray-50 text-gray-600 px-6 lg:px-8 pt-12 pb-20">
<div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 lg:gap-24 md:items-center">
  <div class="col-span-2 md:col-span-1 order-2 md:order-1">
    <h2 class="text-2xl sm:text-3xl  lg:text-4xl text-gray-700 font-medium mb-6">Titel placeholder</h2>
    <p class="text-xl text-gray-600 mb-6">Phasellus lobortis sapien quis mi consequat, vitae rutrum libero interdum. Aliquam ut tellus viverra neque viverra tincidunt ac sit amet magna. Nulla placerat rhoncus nulla. Nullam et luctus arcu, sit amet efficitur ligula.</p>
    <p class="text-xl text-gray-600 mb-6">Vestibulum quis dui vel ipsum eleifend dapibus ornare ac quam. Nulla id fermentum dolor, a lacinia mauris. In non odio non augue semper dictum. Integer facilisis eu sapien sit amet euismod. Praesent efficitur nibh at lorem accumsan fringilla.</p>
    <p class="text-xl text-gray-600">Nullam vel enim sagittis turpis aliquet elementum. Morbi arcu dolor, vehicula eu risus ac, tempus rutrum justo. Nunc vulputate semper nunc vel elementum.</p>
  </div>
  <div class="col-span-2 md:col-span-1 flex flex-row space-x-2 order-1 md:order-2">
    <img src="/images/placeholder-square.svg" alt="">
  </div>
</div>
</div>

<div class="bg-gray-50 text-gray-600 px-6 lg:px-8 py-12 lg:pb-20">
  <div class="max-w-screen-lg mx-auto">
    <h2 class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-medium text-center">Oprichters</h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-x-8 xl:gap-12 mt-6 lg:mt-8 xl:mt-10">

      <!-- kaart 1 -->
      <div class="bg-white border border-gray-200 p-8 lg:p-12 text-center space-y-6">
        <img src="/images/ruby.png" alt="User placeholder" class="mx-auto rounded-md">
        <div class="space-y-1">
          <span class="text-xl font-semibold text-gray-700 block">Robin van Deutekom</span>
          <span class="text-base font-semibold text-gray-500 block">Eigenaar</span>
        </div>
      </div>
      <!--/ einde kaart 1 -->

      <!-- kaart 2 -->
      <div class=" border-gray-200 p-8 lg:p-12 text-center space-y-6">
        <img src="" alt="" class="mx-auto rounded-md">
        <div class="space-y-1">
          <span class="text-xl font-semibold text-gray-700 block"></span>
          <span class="text-base font-semibold text-gray-500 block"></span>
        </div>
      </div>
      <!--/ einde kaart 2 -->

            <!-- kaart 3 -->
            <div class="bg-white border border-gray-200 p-8 lg:p-12 text-center space-y-6">
              <img src="/images/banaan.png" alt="User placeholder" class="mx-auto rounded-md">
              <div class="space-y-1">
                <span class="text-xl font-semibold text-gray-700 block">Daniël van Montfoort</span>
                <span class="text-base font-semibold text-gray-500 block">Eigenaar</span>
              </div>
            </div>
            <!--/ einde kaart 3 -->
    </div>
  </div>
</div>
        
{{ end }}