{{ define "main"}}
<div class="bg-blue-200">
  <div class=" max-w-screen-xl mx-auto text-center">
    <div class="flex flex-row space-x-2 justify-center">
      <a href="#" class="inline-block bg-gray-500 font-semibold rounded-lg py-4 px-5 lg:px-8 text-white mt-6">Afspraak maken</a>
      <a href="/contact" class="inline-block bg-transparent font-semibold rounded-lg py-4 px-5 lg:px-8 text-gray-600 mt-6">Contact opnemen</a> 
    </div>
  </div>
</div>

<div class="bg-blue-400">
  <div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 lg:gap-24 md:items-center py-12 lg:py-20">
    <div class="col-span-2 md:col-span-1 order-2 md:order-1">
      <h2 class="gray text-2xl sm:text-3xl  lg:text-4xl text-gray-700 font-medium mb-6">SubNetworks is er voor u   </h2>
      <p class="gray text-xl text-gray-600 mb-6">SubNetworks staat altijd klaar om voor u diensten te leveren <br> en problemen op te lossen. <br> Met 2 jaar ervaring en nog steeds lerend is alles een <br> leuke en goede uitdaging.  </p>
      <div class="flex flex-row space-x-2">
      </div>
    </div>
    <div class="col-span-2 md:col-span-1 flex flex-row space-x-2 order-1 md:order-2 items-center justify-center">
      <img src="{{ .Params.image1 }}" alt="Homepage foto1" class="max-w-md">
    </div>
  </div>
</div>

<div class="bg-blue-400 text-gray-600 px-6 lg:px-8 pt-12 pb-20">
  <div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 lg:gap-24 md:items-center">
    <div class="col-span-2 md:col-span-1 flex flex-row space-x-2">
      <img src="{{ .Params.image2 }}" alt="Homepage foto2">
    </div>
    <div class="col-span-2 md:col-span-1">
      <h2 class="gray text-2xl sm:text-3xl lg:text-4xl text-white-700  ">Verschillende diensten</h2>
      <p class="gray text-xl text-gray-600 mb-6">Bij SubNetworks bieden wij verschillende ICT diensten aan. </p>
      <p class="gray text-xl text-gray-600 mb-6">Wij kunnen bijvoorbeeld, voor u uw telefoon gegevens overzetten naar een andere telefoon, computers die een bluescreen hebben oplossen, en tegelijk data redden, ook kunt u een website door ons laten bouwen</p>
      <p class="gray text-xl text-gray-600 mb-6">Voor andere vragen en meer informatie kunt u altijd ons contacteren via de contact formulier of direct bellen naar ons nummer.</p>
    </div>
  </div>
</div>

<div class="bg-blue-300 text-gray-600 px-6 lg:px-8 py-12 lg:pb-20">
  <div class="max-w-screen-lg mx-auto">
    <h2 class="text-2xl sm:text-3xl md:text-4xl text-gray-700 font-medium text-center">Oprichters</h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-x-8 xl:gap-12 mt-6 lg:mt-8 xl:mt-10">

      <!-- kaart 1 --> 
      <div class="bg-white border border-gray-200 p-8 lg:p-12 text-center space-y-6">
        <img src="{{ .Params.imageuser1 }}" alt="User1" class="mx-auto rounded-md">
        <div class="space-y-1">
          <span class="text-xl font-semibold text-gray-700 block">Robin van Deutekom</span>
          <span class="text-base font-semibold text-gray-500 block">Eigenaar</span>
        </div>
      </div>
      <!--/ einde kaart 1 -->

      <!-- kaart 2 -->
      <div class=" border-gray-200 p-8 lg:p-12 text-center space-y-6">
        <img src="" alt="" class="mx-auto rounded-md">
        <div class="space-y-1">
          <span class="text-xl font-semibold text-gray-700 block"></span>
          <span class="text-base font-semibold text-gray-500 block"></span>
        </div>
      </div>
      <!--/ einde kaart 2 -->

            <!-- kaart 3 -->
            <div class="bg-white border border-gray-200 p-8 lg:p-12 text-center space-y-6">
              <img src="{{ .Params.imageuser2 }}" alt="User2" class="mx-auto rounded-md">
              <div class="space-y-1">
                <span class="text-xl font-semibold text-gray-700 block">Daniël van Montfoort</span>
                <span class="text-base font-semibold text-gray-500 block">Eigenaar</span>
              </div>
            </div>
            <!--/ einde kaart 3 -->
    </div>
  </div>
</div>  
{{ end }}