{{ define "main" }}
<div class="bg-blue-200">
  <div class="bg-blue-200 md:grid md:grid-cols-3 md:gap-12 max-w-screen-xl mx-auto mt-12 lg:mt-20 space-y-12 md:space-y-0">
    <div class="text-center">
      <h3 class="font-semibold text-lg mb-2">Kwaliteit Hardware & Diensten</h3>
      <p>{{ .Params.topcontent1 }}</p>
    </div>
    <div class="text-center">
      <h3 class="font-semibold text-lg mb-2">PC Bouwen</h3>
      <p>{{ .Params.topcontent2 }}</p>
    </div>
    <div class="text-center">
      <h3 class="font-semibold text-lg mb-2">Telefoon Reparatie</h3>
      <p>{{ .Params.topcontent3 }}</p>
    </div>
  </div>
</div>
<div class="bg-gray-50">
{{ .Content }}
</div>
<div class="bg-blue-200">
  <div class="max-w-screen-xl mx-auto text-center">
    <h1> Meer informatie nodig?</h1>
    <h5> Click dan op de onderste knop om naar het contact formulier te komen.</h5>
    <a href="/contact" class="inline-flex space-x-2 items-center bg-gray-600 font-semibold rounded-full py-4 px-5 lg:px-8 text-white hover:bg-gray-500">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6">
      <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z" />
      <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z" />
      </svg>
      <span>Contact opnemen?</span>
    </a>  
  </div>
</div>
{{ end }}