{{ define "main" }}
<div class="bg-gray-200 px-6 lg:px-8">
    <div class="max-w-screen-xl mx-auto grid grid-cols-2 ">
      <div class="col-span-2 md:col-span-1 py-12 lg:py-20 relative z-20">
        <h2 class="text-2xl sm:text-3xl lg:text-4xl xl:text-5xl text-gray-700 font-medium mb-6">SubNetworks: Diensten</h2>
        <p class="text-xl text-gray-600">SubNetworks levert maatwerk ICT Diensten en oplossingen in omgeving Den Helder en omstreken, ICT Diensten, Oplossingen & Advies op maat</p>
      </div>
      <div class="col-span-2 md:col-span-1 relative">
        <svg class="text-gray-200 hidden md:block absolute left-0 inset-y-0 h-full w-48 transform -translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="50,0 100,0 50,100 0,100"></polygon>
        </svg>
        <img src="/images/homepage-2.jpg" alt="" class="min-h-full object-cover">
      </div>
    </div>
  </div>
</div>
<div class="md:grid md:grid-cols-3 md:gap-12 max-w-screen-xl mx-auto mt-12 lg:mt-20 space-y-12 md:space-y-0">
  <div class="text-center">
    <h3 class="font-semibold text-lg mb-2">Kwaliteit Hardware & Diensten</h3>
    <p>Computerhulp bij jou thuis is niet alleen gemakkelijk maar ook snel gedaan omdat het jouw tijd scheelt en je er helemaal niets voor hoeft te doen.</p>
  </div>
  <div class="text-center">
    <h3 class="font-semibold text-lg mb-2">PC Bouwen</h3>
    <p>Bij ons kun je veilig en vertrouwd jou PC laten bouwen, vraag een offerte aan en laat je nieuwe PC bij ons bouwen!</p>
  </div>
  <div class="text-center">
    <h3 class="font-semibold text-lg mb-2">Telefoon Reparatie</h3>
    <p>Bij ons kan je jou telefoon laten repareren van een nieuw scherm tot een hele nieuwe batterij, hierbij voor de laagste prijs.</p>
  </div>
</div>
</div>
<div class="bg-gray-50 text-gray-600 px-6 lg:px-8 pt-12 pb-20">
    <div class="max-w-screen-lg mx-auto space-y-20 md:space-y-16 ">
      <div class="flex flex-col md:flex-row items-center md:space-x-10 space-y-6 md:space-y-0">
        <img src="/images/Telefoons1.jpg" alt="User placeholder" class="rounded-lg w-48 md:order-1">
        <div class="flex-1 md:order-2">
          <h3 class="font-semibold text-lg lg:text-xl mb-2">Telefoons </h3>
          <div class="text-lg lg:text-xl">
            <p>Telefoon repareren, bestanden overzetten of hulp? <br > Wij doen het allemaal en voor de laagste prijs.</p>
            <a href="/telefoons" class="mt-5 inline-block" style="color: rgb(78, 78, 78);">Lees meer »</a>
          </div>
        </div>
      </div>
  
      <div class="flex flex-col md:flex-row items-center space-y-6 md:space-x-10 md:space-x-reverse md:space-y-0">
        <img src="/images/code1.png" alt="User placeholder" class="rounded-lg w-48 md:order-2">
        <div class="flex-1 md:order-1">
          <h3 class="font-semibold text-lg lg:text-xl mb-2">Website Ontwikkelen</h3>
          <div class="text-lg lg:text-xl">
            <p>Vestibulum quis dui vel ipsum eleifend dapibus ornare ac quam. Nulla id fermentum dolor, a lacinia mauris. In non odio non augue semper dictum.</p>
            <a href="/website" class="mt-5 inline-block" style="color: rgb(78, 78, 78);">Lees meer »</a>
          </div>
        </div>
      </div>
  
      <div class="flex flex-col md:flex-row items-center md:space-x-10 space-y-6 md:space-y-0">
        <img src="/images/Computer1.jpg" alt="User placeholder" class="rounded-lg w-48 md:order-1">
        <div class="flex-1 md:order-2">
          <h3 class="font-semibold text-lg lg:text-xl mb-2">Computer hulp</h3>
          <div class="text-lg lg:text-xl">
            <p>Phasellus lobortis sapien quis mi consequat, vitae rutrum libero interdum. Aliquam ut tellus viverra neque viverra tincidunt ac sit amet magna. Nulla placerat rhoncus nulla.</p>
            <a href="/computer" class="mt-5 inline-block" style="color: rgb(78, 78, 78);">Lees meer »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
          
{{ end }}