{{ define "main" }}
<div class="bg-gray-200 px-6 lg:px-8">
    <div class="max-w-screen-xl mx-auto grid grid-cols-2 ">
      <div class="col-span-2 md:col-span-1 py-12 lg:py-20 relative z-20">
        <h2 class="text-2xl sm:text-3xl lg:text-4xl xl:text-5xl text-gray-700 font-medium mb-6">SubNetworks: Diensten</h2>
        <p class="text-xl text-gray-600">SubNetworks levert maatwerk ICT Diensten en oplossingen in omgeving Den Helder en omstreken, ICT Diensten, Oplossingen & Advies op maat</p>
      </div>
      <div class="col-span-2 md:col-span-1 relative">
        <svg class="text-gray-200 hidden md:block absolute left-0 inset-y-0 h-full w-48 transform -translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="50,0 100,0 50,100 0,100"></polygon>
        </svg>
        <img src="/images/homepage-2.jpg" alt="" class="min-h-full object-cover">
      </div>
    </div>
  </div>
</div>
{{ end }}