{{ define "main" }}
<div class="bg-gray-50 text-gray-600 px-6 lg:px-8 pt-12 pb-20">
  <div class="max-w-screen-xl mx-auto grid grid-cols-2 gap-8 lg:gap-24 md:items-center">
    <div class="col-span-2 md:col-span-1 flex flex-row space-x-2">
      <img src="/images/placeholder-horizontal-large.svg" alt="">
    </div>
    <div class="col-span-2 md:col-span-1 text-center">
      <h2 class="text-2xl sm:text-3xl lg:text-4xl text-gray-700 font-medium mb-6">So if sixteen on advanced addition absolute received replying</h2>
      <p class="text-xl text-gray-600">On could my in order never it. Or excited certain sixteen it to parties colonel. Law gate lif On nature or no.</p>
      <div class="flex flex-row items-center space-x-4 text-left justify-center mt-6">
        <img src="/images/user-placeholder.svg" alt="User placeholder" class="rounded-full w-12">
        <div>
          <span class="text-lg font-semibold text-gray-700 block">Henry Lee</span>
          <span class="text-base font-semibold text-gray-500 block">CFO</span>
        </div>
      </div>
    </div>
  </div>
</div>
               
{{ end }}