{{ define "main" }}
<div class="bg-gray-200 px-6 lg:px-8">
    <div class="max-w-screen-xl mx-auto grid grid-cols-2 ">
      <div class="col-span-2 md:col-span-1 py-12 lg:py-20 relative z-20">
        <h2 class="text-2xl sm:text-3xl lg:text-4xl xl:text-5xl text-gray-700 font-medium mb-6">SubNetworks: Telefoon diensten</h2>
        <p class="text-xl text-gray-600">SubNetworks levert maatwerk ICT Diensten en oplossingen in omgeving Den Helder en omstreken, ICT Diensten, Oplossingen & Advies op maat</p>
      </div>
      <div class="col-span-2 md:col-span-1 relative">
        <svg class="text-gray-200 hidden md:block absolute left-0 inset-y-0 h-full w-48 transform -translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
          <polygon points="50,0 100,0 50,100 0,100"></polygon>
        </svg>
        <img src="/images/homepage-2.jpg" alt="" class="min-h-full object-cover">
      </div>
    </div>
  </div>
</div>

<div class="md:grid md:grid-cols-3 md:gap-12 max-w-screen-xl mx-auto mt-12 lg:mt-20 space-y-12 md:space-y-0">
  <div class="text-center">
    <h3 class="font-semibold text-lg mb-2">Data overzetten naar nieuwe toestel</h3>
    <p>Data overzetten van de oude naar je nieuwe toestel kan soms wat lastig zijn daarom zorgen wij ervoor dat het snel gebeurt met behoud van je gegevens.</p>
  </div>
  <div class="text-center">
    <h3 class="font-semibold text-lg mb-2">Microcursus & Begeleiding</h3>
    <p>Hulp met leren omgaan met je huidige of nieuwe toestel met begeleiding van NXS Networks waar je stap voor stap geholpen wordt met jou vragen.</p>
  </div>
  <div class="text-center">
    <h3 class="font-semibold text-lg mb-2">Backups & Telefoon herstel</h3>
    <p>Het is soms nodig om je telefoon eens een goede reset te geven en gelijk alles bij te werken tot een actuele staat wat problemen kan oplossen.</p>
  </div>
</div>
<div class="bg-gray-50 text-gray-600 px-6 lg:px-8 pt-12 pb-20">
  <div class="max-w-screen-lg mx-auto space-y-20 md:space-y-16 ">
    <div class="flex flex-col md:flex-row items-center md:space-x-10 space-y-6 md:space-y-0">
      <img src="/images/iphone13.png" alt="User placeholder" class="rounded-lg w-48 md:order-1">
      <div class="flex-1 md:order-2">
        <h3 class="font-semibold text-lg lg:text-xl mb-2">Telefoon reparaties omgeving Den Helder en omstreken</h3>
        <div class="text-lg lg:text-xl">
          <p>U kunt uw telefoon goedkoop en verzekerd bij ons laten repareren, hier word u voor de laagste prijs met de beste service geholpen.
          </p>
          <a href="#" class="mt-5 inline-block" style="color: rgb(78, 78, 78);">Afspraak maken »</a>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row items-center space-y-6 md:space-x-10 md:space-x-reverse md:space-y-0">
      <img src="/images/papier.png" alt="User placeholder" class="rounded-lg w-48 md:order-2">
      <div class="flex-1 md:order-1">
        <h3 class="font-semibold text-lg lg:text-xl mb-2">Hulp met uw telefoon</h3>
        <div class="text-lg lg:text-xl">
          <p>SubNetworks biedt hulp aan om je telefoon over te zetten en je gegevens te herstellen, ook wordt er voor gezorgd dat je gelijk van start kan gaan met je nieuwe toestel.</p>
          <a href="#" class="mt-5 inline-block" style="color: rgb(78, 78, 78);">Afspraak maken »</a>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row items-center md:space-x-10 space-y-6 md:space-y-0">
      <img src="/images/google.png" alt="User placeholder" class="rounded-lg w-48 md:order-1">
      <div class="flex-1 md:order-2">
        <h3 class="font-semibold text-lg lg:text-xl mb-2">Flexibeliteit</h3>
        <div class="text-lg lg:text-xl">
          <p>Wij bij SubNetworks zijn super flexibel, bij ons kunt uw een afspraak maken voor ons om bij u langs te komen om u te helpen met uw problemen.
            Of als u weinig tijd heeft het sturen naar ons adres zodat wij u toch kunnen helpen. </p>
          <a href="#" class="mt-5 inline-block" style="color: rgb(78, 78, 78);">Afspraak maken »</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="max-w-screen-xl mx-auto text-center">
    <h1> Wilt u een afspraak maken?</h1>
    <p> Click dan op de onderste button om naar de contact formulier te komen.</p>
  <a href="/contact" class="inline-flex space-x-2 items-center bg-gray-600 font-semibold rounded-full py-4 px-5 lg:px-8 text-white hover:bg-gray-500">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6">
          <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z" />
  <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z" />
      </svg>
  <span>Afspraak maken?</span>
</a>
</div>
{{ end }}